.location_ico {
    height: 16px;
    width: 16px;
    position: relative;
    left: -22px;
    display: inline-block;
    background-image: url("target.png");
}

.large-button {
    height: 80px;
    width: 150px;
    color: white;
    background-color: #777777;
    background-image: none;
}

.large-button:hover {
    color: white;
    background-color: #444444;
    background-image: none;
}

.large-button-pushed {
    color: white;
    background-color: #444444;
    background-image: none;
}

.race-button {
    height: 80px;
    width: 100px;
}

.hair-button {
  height: 80px;
  width: 100px;
}

.hair-check {
  display: none;
}

.black-button {
    background-color: #000000;
    background-image: none;
}

.black-button:hover {
  background-color: #000000;
  background-image: none;
}

.brown-button {
    background-color: #663300;
    background-image: none;
}

.brown-button:hover {
  background-color: #663300;
  background-image: none;
}

.red-button {
    background-color: #ff0000;
    background-image: none;
}

.red-button:hover {
  background-color: #ff0000;
  background-image: none;
}

.blonde-button {
    background-color: #ffff00;
    background-image: none;
}

.blonde-button:hover {
  background-color: #ffff00;
  background-image: none;
}

.gray-button {
    background-color: #777777;
    background-image: none;
}

.gray-button:hover {
  background-color: #777777;
  background-image: none;
}

.desc-row {
    margin-left: 160px;
    width: 600px;
    height: 150px;
}

.ph_num_label {
    margin-left: 160px;
    font-weight: bold;
    font-size: 18px;
}

.ph_num {
    margin-left: 160px;
    width: 300px;
    height: 50px;
}

.submit_btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: 70px;
    width: 220px !important;
//    background-color: #00ff00;
//    background-image: none;
}

body.bignav {
  padding-top: 100px;

  input {
    font-size: 18px;
  }

  select {
    font-size: 18px;
  }

  .navbar {
    height: 100px;
  }

  .navbar .navbar-inner {
    height: 100%;
  }
  .navbar .navbar-inner .container {
    height: 100%;
  }

  .sfpd strong {
    margin-left: 10px;
    vertical-align: middle;
    color: black;
  }

  .pull-right {
    padding-top: 25px;
    height: 100%;
  }

  .dropdown {
    border: 1px solid #808080;
    border-radius: 3px;
  }
}

.footer {
  height: 183px;
  background-color: #333333;
  text-align: center;
  position: relative;
  .footer-links {
    padding-top: 80px;
    color: white;
    a {
      font-weight: normal;
      color: white;
      padding: 0 3px 0 3px;
    }
  }
}
