.tlabel {
    display: inline;
}

.location_ico {
    height: 16px;
    width: 16px;
    position: relative;
    left: -22px;
    display: inline-block;
    background-image: url("target.png");
}

.large-button {
    height: 80px;
    width: 150px;
    color: white;
    background-color: #777777;
    background-image: none;
}

.large-button:hover {
    color: white;
    background-color: #444444;
    background-image: none;
}

.large-button-pushed {
    color: white;
    background-color: #444444;
    background-image: none;
}

body.bignav {
    padding-top: 100px;
  .navbar {
    height: 100px;
  }

  .navbar .navbar-inner {
    height: 100%;
  }
  .navbar .navbar-inner .container {
    height: 100%;
  }

  .sfpd strong {
    margin-left: 10px;
    vertical-align: middle;
    color: black;
  }

  .pull-right {
    padding-top: 25px;
    height: 100%;
  }

  .dropdown {
    border: 1px solid #808080;
    border-radius: 3px;
  }
}

.footer {
  height: 183px;
  background-color: #a9a9a9;
}
