body {
	padding-top: 60px;
}

.date {
	color: #888;
	font-size: 16px;
	float: left;
}

.date-box {
	text-align: center;
	padding: 8px; 
	background: #DFE4EE;
	margin: auto;
	font-size: 18px; 
}

.today {
	margin-bottom: 30px;
}

.tip-box {
	border: 1px solid #eee;
	margin-bottom: 20px;
	margin-left: 120px;
}

.tip-title {
	background: #f5f5f5;
	padding: 10px 20px;
}

.tip-content {
	border-top: 1px solid #eee;
	padding: 10px 20px;
}

.crime-type {
	font-size: 24px;
	text-transform: uppercase;
}

.location {
	margin-top: 10px;
}

