@font-face {
	font-family: 'Gotham';
	src: url('fonts/GothamHTF-Book.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham';
	font-weight: bold;
	src: url('fonts/GothamHTF-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Plantin';
	src: url('fonts/PlantinStd.otf') format('opentype');
}

@font-face {
	font-family: 'Plantin';
	font-style: italic;
	src: url('fonts/PlantinStd Italic.otf') format('opentype');
}

body {
	background: #e6e6e6;
	font-family: 'Gotham';
}

.list-container {
}

.left {
	float: left;
	margin-left: 20px;
	width: 110px;
	border-right: 1px solid #adadad;
	position: absolute;
	top: 0;
	bottom: 0;
}

.date {
	color: #333;
	font-size: 20px;
	margin-bottom: 10px;
	padding-top: 48px;
}

.take-action {
	background: #76c143;
	color: #fff;
	width: 100px;
	text-align: center;
	padding: 5px;
	float: right;
	border: 1px solid #65a33a;
	border-radius: 3px;
	width: 200px;
	padding: 22px 0px;
}

.date-box {
	text-align: center;
	padding: 8px; 
	font-size: 18px; 
	font-weight: bold;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 25px 30px;
}

.today {
	margin-bottom: 30px;
}

.tip {
	position: relative;
}

.tip-box {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	margin-left: 165px;
	margin-right: 20px;
	padding: 40px;
	font-size: 18px;
	background: #fff;
	color: #333;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.15);
	border-radius: 3px;
}

.tip-title {
	background: #fff;
	padding: 10px 20px;
	border-top: 3px solid #40B3DF;
}

.slashes {
	color: #ccc;
	font-size: 11px;
	line-height: 70px;
	margin-left: 245px;
}

.tip-content {
	padding: 10px 20px;
	background: #fff;
}

.crime-type {
	font-size: 36px;
	font-family: 'Plantin';
	margin-top: 10px;
}

.location {
	margin-top: 40px;
}

.location-text {
	margin-left: 14px;
}

.icon {
	float: left;
}

.when-happened {
	margin-top: 40px;
}

.when-text {
	margin-left: 14px;
}

.suspect {
	margin-top: 40px;
}

.person-text {
	margin-left: 14px;
}

.tip-description {
	border: 1px solid #d9d9d9;
	background: #f2f2f2;
	padding: 30px;
	margin-top: 40px;
	font-family: 'Plantin';
	line-height: 1.5em;
}

.sign-in {
	float: right;
}

.form-label {
	margin-bottom: 20px;
}

.tlabel {
	font-weight: bold;
	font-size: 18px;
}

.incident-section {
	text-align: center;
    margin-bottom: 20px;
	margin-top: 80px;
}

input[type="text"] {
	height: 70px;
	width: 286px;
}

select {
	height: 80px;
	width: 300px;
}

input.larger-checkbox {
	height: 40px;
	width: 40px;
}

.suspect-section {
	text-align: center;
	margin-top: 106px;
 .left-slashes {
   top: 30px;
 }
 .right-slashes {
   top: -35px;
 }
}

.location_ico {
	float: right;
	top: -55px;
}

.section-title {
	font-family: 'Plantin';
	font-style: italic;
	font-weight: 400;
	font-size: 36px;
    margin-bottom: 20px;
}

.submit-title {
	font-family: 'Plantin';
	text-align: center;
	font-size: 72px;
	line-height: 360px;
	color: #fff;
	position: relative;
	z-index: 1;
	font-weight: 400;
}

.map-container {
	height: 360px;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	position: relative;
	background-image: url("map-bw.png");
	background-color: #898989;
	background-repeat: no-repeat;
	background-position: top;
}

.explore-button {
	width: 205px;
	height: 50px;
	text-align: center;
	margin: 0 auto;
	background: #000;
	color: #fff;
	opacity: 0.5;
	position: absolute;
	line-height: 50px;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1;
}

.black-overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.75;
	z-index: 0;
}


.left-slashes {
  background-image: url('8px_pattern.png');
  height: 8px;
  width: 296px;
  position: relative;
  top: 40px;
}

.right-slashes {
  background-image: url('8px_pattern.png');
  height: 8px;
  width: 296px;
  position: relative;
  top: 32px;
  float: right;
}

.right-slashes-details {
  background-image: url('8px_pattern.png');
  height: 8px;
  width: 296px;
  position: relative;
  top: 25px;
  float: right;
}
