<div class="map-container">
  <div class="black-overlay"></div>
  <div class="explore-button">Explore Crime Map <strong>&#x25BE;</strong></div>
</div>
<div class="row-fluid">
  <div class="modal" id="done_modal">
    <div class="modal-header">
      <button id="dismiss_done" type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Thanks!</h3>
    </div>
    <div class="modal-body">
      <p>Tips received from citizens like you are an important part of making San Francisco safer.</p>
      <p>Your tip has been received and will be investigated by an officer. Your confirmation code, if you wish to follow up with the police about this is <%= Random.rand(999999) + 100000 %>.</p>
      <p>Your local police station is the San Francisco Police Department Southern Station at 850 Bryant St. They can be contacted at 415-553-1373 or via email at sfpd.southern.station@sfgov.org.</p>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $("#dismiss_done").click(function() {
      $("#done_modal").hide();
    });

    $(".explore-button").click(function() {
      $('.map-container').animate({height: "606px"});
      $('.submit-title, .black-overlay').fadeOut('fast');
      $('.explore-button').fadeOut('fast');
    });
  })
</script>