<div class="row-fluid">
  <div class="modal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Thanks!</h3>
    </div>
    <div class="modal-body">
      <p>Tips received from citizens like you are an important part of making San Francisco safer.</p>
      <p>Your tip has been received and will be investigated by an officer. Your confirmation code, if you wish to follow up with the police about this is <%= Random.rand(999999) + 100000 %>.</p>
      <p>Your local police station is the San Francisco Police Department Southern Station at 850 Bryant St. They can be contacted at 415-553-1373 or via email at sfpd.southern.station@sfgov.org.</p>
    </div>
  </div>
</div>
