<h1>Listing tips</h1>

<div class="tips-list row">
  <div class="span9">
    <% @tips.each do |tip| %>
      <div class="tip-box">
        <span class="show"><%= link_to 'Show', tip %></span>
        <span class="edit"><%= link_to 'Edit', edit_tip_path(tip) %></span>
        <span class="destroy"><%= link_to 'Destroy', tip, method: :delete, data: { confirm: 'Are you sure?' } %></span>
      </div>
    <% end %>
  </div>
  <div class="span3">
    <%= link_to 'New Tip', new_tip_path %>
  </div>
</div>

