<div class="map-container">
  <div class="black-overlay"></div>
  <h1 class="submit-title">Submit an anonymous tip</h1>
  <div class="explore-button">Explore Crime Map</div>
</div>

<div class="container">
<%= render :partial => "form" %>
</div>
<script type="text/javascript">
  $(document).ready(function() {

    $(".explore-button").click(function() {
        $('.map-container').animate({height: "606px"});
        $('.submit-title, .black-overlay').fadeOut('fast');
        $('.explore-button').fadeOut('fast');
    });


    $("#get_location").click(function() {
        getLocation();
        return false;
    });

    $("select").change(function() {
        $(this).find("option[default=true]").remove();
    });

    $(".btn").click(function() {
        return false;
    });

    $("#has_occurred_btn").click(function() {
        $("#has_occurred_btn").addClass("active");
        $("#not_yet_btn").removeClass("active");
        $("#tip_has_occurred").val(true);
    });

    $("#not_yet_btn").click(function() {
        $("#not_yet_btn").addClass("active");
        $("#has_occurred_btn").removeClass("active");
        $("#tip_has_occurred").val(false);
    });

    $("#gender_male_btn").click(function() {
        $("#gender_male_btn").addClass("large-button-pushed");
        $("#gender_female_btn").removeClass("large-button-pushed");
        $("#tip_gender").val("Male");
    });

    $("#gender_female_btn").click(function() {
        $("#gender_female_btn").addClass("large-button-pushed");
        $("#gender_male_btn").removeClass("large-button-pushed");
        $("#tip_gender").val("Female");
    });

    $("#height_short_btn").click(function() {
        $("#height_short_btn").addClass("large-button-pushed");
        $("#height_average_btn").removeClass("large-button-pushed");
        $("#height_tall_btn").removeClass("large-button-pushed");
        $("#tip_height").val("Short");
    });

      $("#height_average_btn").click(function() {
          $("#height_average_btn").addClass("large-button-pushed");
          $("#height_short_btn").removeClass("large-button-pushed");
          $("#height_tall_btn").removeClass("large-button-pushed");
          $("#tip_height").val("Average");
      });

      $("#height_tall_btn").click(function() {
          $("#height_tall_btn").addClass("large-button-pushed");
          $("#height_short_btn").removeClass("large-button-pushed");
          $("#height_average_btn").removeClass("large-button-pushed");
          $("#tip_height").val("Tall");
      });

      $("#haircolor_black_btn").click(function() {
          $(".hair-button").removeClass("hair-button-pushed");
          $("#haircolor_black_btn").addClass("hair-button-pushed");

        $(".hair-check").hide();
        $("#haircolor_black_btn").find(".hair-check").show();
          $("#tip_haircolor").val("Black");
      });

      $("#haircolor_brown_btn").click(function() {
          $(".hair-button").removeClass("hair-button-pushed");
          $("#haircolor_brown_btn").addClass("hair-button-pushed");
        $(".hair-check").hide();
        $("#haircolor_brown_btn").find(".hair-check").show();
          $("#tip_haircolor").val("Brown");
      });

      $("#haircolor_red_btn").click(function() {
          $(".hair-button").removeClass("hair-button-pushed");
          $("#haircolor_red_btn").addClass("hair-button-pushed");
        $(".hair-check").hide();
        $("#haircolor_red_btn").find(".hair-check").show();
          $("#tip_haircolor").val("Red");
      });

      $("#haircolor_blonde_btn").click(function() {
          $(".hair-button").removeClass("hair-button-pushed");
          $("#haircolor_blonde_btn").addClass("hair-button-pushed");
        $(".hair-check").hide();
        $("#haircolor_blonde_btn").find(".hair-check").show();
          $("#tip_haircolor").val("Blonde");
      });

      $("#haircolor_gray_btn").click(function() {
          $(".hair-button").removeClass("hair-button-pushed");
          $("#haircolor_gray_btn").addClass("hair-button-pushed");
        $(".hair-check").hide();
        $("#haircolor_gray_btn").find(".hair-check").show();
          $("#tip_haircolor").val("Gray");
      });
  });

</script>
