<h1>Leave a tip</h1>

<%= render :partial => "form" %>

<%= link_to 'Back', tips_path %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#get_location").click(function() {
      getLocation();
      return false;
    });

<<<<<<< HEAD
    $("select").change(function() {
        $(this).find("option[default=true]").remove();
    });
=======
    $(".btn").click(function() {
      return false;
    })
>>>>>>> 710e42aa09a783db1d99d291bd00bfdce41b0656
  });

</script>