<h1 style="text-align: center;">Leave a tip</h1>

<%= render :partial => "form" %>

<%= link_to 'Back', tips_path %>
<script type="text/javascript">
  $(document).ready(function() {
    $("#get_location").click(function() {
      getLocation();
      return false;
    });

    $("select").change(function() {
        $(this).find("option[default=true]").remove();
    });

    $(".btn").click(function() {
      return false;
    });

    $("#get_gender .btn").click(function() {
      $("#get_gender .btn").removeClass('active');
      $(this).addClass('active');
    });
  });

</script>