<!DOCTYPE html>
<html lang="en">
<head>
  <title>TipBucket</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="#">SF POLICE</a>
            <ul class="nav">
              <li class="active"><a href="#">TIPS</a></li>
              <li><a href="#">ANALYTICS</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="container">

        <%= yield %>

    </div>
</body>
</html>
